.sidebar
    width: 460px
    height: 100vw
    position: fixed
    background: white
    top: 0
    left: 0
    z-index: 1
    box-shadow: 4px 0px 15px #00000029

@media only screen and (max-width: 1440px)
    .sidebar
        width: 400px

@media only screen and (max-width: 1366px)
    .sidebar
        width: 380px

@media only screen and (max-width: 1280px)
    .sidebar
        width: 360px