@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100200300400500700&display=swap')
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')

*
    outline: none
    font-family: 'Jost', sans-serif

body, html
    padding: 0
    margin: 0

#root
    width: 100vw
    height: 100vh
    background: var(--start-screen-bg-color)

.ol-zoom
    right: 8px
    left: inherit !important

.ol-geocoder
    position: absolute
    right: 48px
    top: 10px
    width: 280px


.gcd-txt-result li
    list-style: none
    cursor: pointer
    padding: 15px
    border-bottom: 1px solid #7c96b93b
    background: #ffffffb8
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.1), 0 8px 16px -8px rgba(0,0,0,.1), 0 -6px 16px -6px rgba(0,0,0,.01)
    a
        color: #7c96b9
    &:hover
        background: #7c96b9
        
        a
            color: #edeeee
          
.gcd-txt-control
    margin: 0
    padding: 0

.gcd-txt-input
    box-sizing: border-box   
    width: 100%
    color: #727272
    font-size: 16px
    padding: 15px
    background: #eee
    border: 1px solid #859ec0

.gcd-txt-result
    padding: 0
    margin: 0  

.gcd-txt-reset 
    border: none
    position: absolute
    width: 25px
    height: 25px
    right: 10px
    top: 15px
    &:after
       content: '✕'
       cursor: pointer

.gcd-hidden
    display: none

.gcd-pseudo-rotate
    animation: rotate 1.5s linear infinite
    
@keyframes rotate
    100% 
        transform: rotate(360deg)

.gcd-city
    font-weight: 400
.gcd-country
    font-weight: 500   
.gcd-road
    font-style: italic
p
    margin: 0

a, a:hover 
	text-decoration: none