.main-map
    height: 100vh

    .btn-group
        position: fixed
        bottom: 10px
        right: 10px
        display: flex
        z-index: 1

        button
            background-color: rgba(0,60,136,0.5)
            color: #fff