.main-map
    height: 100vh

.ol-geocoder
    position: absolute
    top: 3%
    width: 30%
    right: 23%  

.ol-control
    display: flex

.ol-zoom.ol-unselectable.ol-control
    display: block

#gcd-button-control.gcd-gl-btn
    display: none

.gcd-gl-result
    list-style: none
    margin-top: 12%
    background-color: #eee
    opacity: 0.5
    font-weight: 800
    padding: 0
    overflow: hidden 
    overflow-y: scroll
    height: 200px
    
    li
        margin: 15px
    
    .gcd-road
        color: black

.hide-results
    display: none